input
{
    height: 50px;
    border-radius:0.5rem;
    padding: 5px 5px 5px 5px;
}

label
{
    font-weight: bold;
}

select
{
    color: gray;
    height: 50px;
    border-radius:0.5rem;
    padding: 5px 5px 5px 5px;
}

