@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');



:root {
 background-color: #f9f9f9;
}

.dark{
  background-color: #0A2647;
}

body {
  font-family: 'Jost', sans-serif;
  font-weight: 400;
  font-size:1.13rem;
  font-style: normal;
  font-display: swap;
  color: #f9f9f9;
  display: block;
}

/*#ff00d4*/

@media (forced-colors: active)
{
  html 
  {
    font-size: 25px;
  }

  html section 
  {
    border: 6px solid white;
    background-color: aqua;
    padding: 10px 10px 10px 10px;
  }

  a
  {
    background-color: yellow;
    
  }

  html button
  {
    border: 2px solid white;
  }
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
